&:deep(.el-checkbox) {
    font-weight: normal;
  }
  .btn-box {
    display: inline-block;
  }
  .hide-item {
    display: none!important;
  }
  .search-form-box {
    vertical-align: bottom;
  }
  &:deep(.el-input__inner){
    text-align: left;
  }